<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="../assets/css/components/style_navbar.css">
    <link rel="stylesheet" href="../assets/css/components/style_footer.css">
    <link rel="stylesheet" href="../assets/css/style_about.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <header id="header">
        <a href="#" class="logo">Movio.</a>
        <nav>
            <ul class="nav-item">
                <li><a href="index.html">Home</a></li>
                <li><a href="articles.html">Article</a></li>
                <li><a href="gallery.html">Gallery</a></li>
                <li><a href="about.html">About</a></li>
            </ul>
        </nav>
        <a href="member/login_member.html" class="btn-contribute">CONTRIBUTE</a>
    </header>
    <div class="container">
        <div class="profile">
            <h2>Hi there, I am Rizha Alfianita</h2>
            <img src="../assets/images/rizha.jpeg" alt="">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis cursus sed sapien vitae placerat. Praesent eu 
                scelerisque velit, non ultrices neque. Vestibulum facilisis hendrerit magna at tincidunt. Nulla facilisis est 
                at efficitur mollis. Phasellus nec consequat neque. Suspendisse fermentum blandit vehicula. Nulla sit amet eros 
                at arcu gravida consectetur. In ac condimentum nunc. In hac habitasse platea dictumst. Maecenas euismod felis 
                non justo congue tempus. Donec ex est, tempor hendrerit enim at, aliquet volutpat sem. Quisque molestie finibus 
                egestas.<br>
                <br>
                Pellentesque venenatis, sem sit amet bibendum placerat, nisi massa euismod risus, ac malesuada tortor lectus id 
                neque. Nunc odio elit, efficitur pulvinar pharetra et, vulputate non lorem. Cras vestibulum ligula a neque 
                vulputate ornare. Nunc id lacus quis lectus molestie maximus. Phasellus in sodales lorem. Integer placerat nisl 
                nec dolor luctus, in dictum arcu fringilla. Sed maximus molestie tortor at condimentum. Cras sit amet suscipit 
                felis, at gravida ante. Vestibulum auctor dignissim semper. Nulla facilisi. Curabitur a elit sodales, malesuada 
                metus quis, efficitur lacus. Proin pulvinar justo convallis ligula ornare pulvinar. Maecenas ornare commodo tortor
                , ac vulputate libero porttitor id. Sed tellus eros, tristique eget suscipit ac, aliquet et tellus. Praesent ac 
                odio ultricies eros suscipit faucibus. Nullam convallis mattis nibh sit amet sagittis. <br>
                <br>
                Quisque felis lorem, vehicula id sollicitudin eget, semper eu nunc. Sed tristique est nisl, non fringilla nisl 
                tincidunt at. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nullam eu vulputate neque. In hac 
                habitasse platea dictumst. Fusce maximus nisl eu est euismod, accumsan pretium sem sagittis. Mauris tempor magna 
                sit amet metus bibendum hendrerit. Vivamus tempor aliquet erat id interdum. <br>
            </p>
        </div>
        <div class="posts">
            <h2>Check out my latest posts</h2>
            <div class="mlp-post-item">
                <div class="mlp-item-img">
                    <img src="../assets/images/us.png" alt="">
                </div>
                <div class="mlp-item-text">
                    <h3>'Us' Synopsis, Doppelganger Murder Terror</h3>
                    <p><span>Movie</span> | January 10, 2022</p>
                    <br>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer sollicitudin arcu sit amet scelerisque 
                        lacinia. Duis tempor metus enim, vel accumsan eros ullamcorper et.</p>
                    <a href="#">CONTINUE READING</a>
                </div>
            </div>
            <div class="mlp-post-item">
                <div class="mlp-item-img">
                    <img src="../assets/images/us.png" alt="">
                </div>
                <div class="mlp-item-text">
                    <h3>'Us' Synopsis, Doppelganger Murder Terror</h3>
                    <p><span>Anime</span> | January 7, 2022</p>
                    <br>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer sollicitudin arcu sit amet scelerisque 
                        lacinia. Duis tempor metus enim, vel accumsan eros ullamcorper et.</p>
                    <a href="#">CONTINUE READING</a>
                </div>
            </div>
            <div class="mlp-post-item">
                <div class="mlp-item-img">
                    <img src="../assets/images/us.png" alt="">
                </div>
                <div class="mlp-item-text">
                    <h3>'Us' Synopsis, Doppelganger Murder Terror</h3>
                    <p><span>Movie</span> | January 2, 2022</p>
                    <br>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer sollicitudin arcu sit amet scelerisque 
                        lacinia. Duis tempor metus enim, vel accumsan eros ullamcorper et.</p>
                    <a href="#">CONTINUE READING</a>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <ul>
            <li><a href="#" class="icon-social"><i class="fa fa-facebook-official" aria-hidden="true"></i></a></li>
            <li><a href="#" class="icon-social"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
            <li><a href="#" class="icon-social"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
        </ul>
        <p>Copyright &#169;2022 All rights reserved | This website is made by 
            <span style="color: #77bb9d;">Rizha Alfianita</span>
        </p>
    </footer>
</body>
</html>