<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Article</title>
    <link rel="stylesheet" href="../assets/css/components/style_navbar.css">
    <link rel="stylesheet" href="../assets/css/components/style_footer.css">
    <link rel="stylesheet" href="../assets/css/style_article.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>  
    <header id="header">
        <a href="#" class="logo">Movio.</a>
        <nav>
            <ul class="nav-item">
                <li><a href="../index.html">Home</a></li>
                <li><a href="articles.html">Article</a></li>
                <li><a href="gallery.html">Gallery</a></li>
                <li><a href="about.html">About</a></li>
            </ul>
        </nav>
        <a href="member/login_member.html" class="btn-contribute">CONTRIBUTE</a>
    </header>
    <div class="container">
        <div class="title">
            <i class="fa fa-film" aria-hidden="true"></i>
            <h2>'Joker' Review : Are You Kidding Me?</h2>
            <p class="date">7 January, 2022</p>
            <br>
            <img src="../assets/images/joker-large.jpg" alt="">
            <div class="writer">
                <i class="fa fa-user-circle-o" aria-hidden="true"></i>
                <p class="name">Xu Minghao</p>
                <p class="work">Writer</p>
            </div>
        </div>
        <div class="content">
            <div class="icon-share">
                <ul>
                    <li><p class="category">Movie</p></li>
                    <li><p><span>1.920</span><br>Visitors</p></li>
                    <br>
                    <li><p class="share">Share</p></li>
                    <li><a href="#" class="icon-social"><i class="fa fa-facebook-official" aria-hidden="true"></i></a></li>
                    <li><a href="#" class="icon-social"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                    <li><a href="#" class="icon-social"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                </ul>
            </div>
            <div class="content-text">
                <p class="quote">"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer sollicitudin arcu sit 
                    amet scelerisque lacinia".</p>
                <br>
                <p class="paragraph">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sit amet dapibus sapien. Nam faucibus 
                    ut dolor non lobortis. Phasellus auctor sapien ut dui tincidunt, in consequat odio mollis. Nam euismod 
                    sodales tortor, vel interdum ante volutpat a. Aenean sed metus sed erat porttitor dignissim. Cras at 
                    tortor in velit molestie lobortis a vitae sapien. Ut nisl lectus, suscipit ut efficitur id, dignissim 
                    nec tortor. Nulla facilisi. Donec id tellus dui. Nulla consequat lacinia eros id ultricies. Praesent 
                    neque nisi, aliquet pellentesque purus in, auctor convallis ligula.
                    <br>
                    <br>
                    Maecenas vulputate nisl sit amet eleifend pretium. Nullam cursus turpis ultrices, convallis ex eget, 
                    mollis massa. Sed maximus fermentum nulla, eget rhoncus tortor pellentesque in. Ut pulvinar metus ac 
                    molestie pretium. Cras justo nibh, cursus eu posuere tempus, blandit eget justo. Praesent ex dui, 
                    convallis a lorem eget, fermentum iaculis elit. Etiam at est eget neque luctus tincidunt in in velit. 
                    Aliquam eu ipsum vitae lorem lobortis auctor ac at ipsum. Phasellus imperdiet vitae nisl a vulputate.
                    <br>
                    <br>
                    In aliquam euismod risus in pharetra. Quisque porttitor tellus ante, non porttitor diam pretium sit 
                    amet. Phasellus vel scelerisque lorem. Phasellus vulputate libero ac bibendum luctus. Sed non sagittis 
                    justo. Sed lectus turpis, pretium id ipsum maximus, placerat volutpat diam. Cras et lorem vulputate, 
                    consectetur massa a, facilisis metus. Aliquam erat volutpat. Duis posuere ante nec enim porttitor euismod. 
                    In a ex in mauris accumsan molestie. Nam sit amet nisl dictum, sodales sem eget, vehicula ipsum. 
                    Pellentesque porta dolor a magna hendrerit vestibulum. Vivamus venenatis egestas massa, eleifend posuere leo. 
                    Nam sit amet rhoncus velit. Sed eu sagittis lectus, vel maximus velit. Vestibulum sit amet ullamcorper eros, 
                    at tincidunt mauris.
                </p>
            </div>
        </div>
        <div class="reply">
            <h2>Leave A Reply</h2>
            <form action="">
                <label for="name">Name</label>
                <input type="text" name="name" placeholder="Your name">
                <label for="email">Email Address</label>
                <input type="text" name="email" placeholder="Your email">
                <label for="comment">Comment</label>
                <textarea name="comment" id="comment" placeholder="Your comment"></textarea>
                <input type="submit" value="ADD COMMENT" name="add-comment">
            </form>
        </div>
    </div>
    <div class="lower-content">
        <h2>Related</h2>
        <hr>
        <div class="coming-post">
            <div class="coming-post-item">
                <div class="cp-item-img">
                    <img src="../assets/images/us.png" alt="">
                </div>
                <div class="cp-item-text">
                    <h3>'Us' Synopsis, Doppelganger Murder Terror</h3>
                    <p><span>Movie</span> | January 10, 2022</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer sollicitudin arcu sit amet scelerisque 
                        lacinia. Duis tempor metus enim, vel accumsan eros ullamcorper et.</p>
                    <a href="#">CONTINUE READING</a>
                </div>
            </div>
            <div class="coming-post-item">
                <div class="cp-item-img">
                    <img src="../assets/images/us.png" alt="">
                </div>
                <div class="cp-item-text">
                    <h3>'Us' Synopsis, Doppelganger Murder Terror</h3>
                    <p><span>Movie</span> | January 7, 2022</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer sollicitudin arcu sit amet scelerisque 
                        lacinia. Duis tempor metus enim, vel accumsan eros ullamcorper et.</p>
                    <a href="#">CONTINUE READING</a>
                </div>
            </div>
            <div class="coming-post-item">
                <div class="cp-item-img">
                    <img src="../assets/images/us.png" alt="">
                </div>
                <div class="cp-item-text">
                    <h3>'Us' Synopsis, Doppelganger Murder Terror</h3>
                    <p><span>Movie</span> | January 2, 2022</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer sollicitudin arcu sit amet scelerisque 
                        lacinia. Duis tempor metus enim, vel accumsan eros ullamcorper et.</p>
                    <a href="#">CONTINUE READING</a>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <ul>
            <li><a href="#" class="icon-social"><i class="fa fa-facebook-official" aria-hidden="true"></i></a></li>
            <li><a href="#" class="icon-social"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
            <li><a href="#" class="icon-social"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
        </ul>
        <p>Copyright &#169;2022 All rights reserved | This website is made by <span style="color: #77bb9d;">Rizha Alfianita</span></p>
    </footer>
</body>
</html>
