<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gallery</title>
    <link rel="stylesheet" href="../assets/css/components/style_navbar.css">
    <link rel="stylesheet" href="../assets/css/components/style_footer.css">
    <link rel="stylesheet" href="../assets/css/style_gallery.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <header id="header">
        <a href="index.html" class="logo">Movio.</a>
        <nav>
            <ul class="nav-item">
                <li><a href="index.html">Home</a></li>
                <li><a href="articles.html">Article</a></li>
                <li><a href="gallery.html">Gallery</a></li>
                <li><a href="about.html">About</a></li>
            </ul>
        </nav>
        <a href="member/login_member.html" class="btn-contribute">CONTRIBUTE</a>
    </header>
    <div class="container">
        <h2>Gallery</h2>
        <hr>
        <div class="gallery-row">
            <div class="gallery-col">
                <img src="../assets/images/Meet The Terrifying Cast Of Jordan Peele's _Us_.jpg" alt="">
                <img src="../assets/images/18 Películas con finales más inesperados que el regreso del tóxico.png" alt="">
                <img src="../assets/images/Us (2019 film) by Jordan Peele.jpg" alt="">
                <img src="../assets/images/download (4).jpg" alt="">
            </div>
            <div class="gallery-col">
                <img src="../assets/images/joker-large.jpg" alt="">
                <img src="../assets/images/voice.jpg" alt="">
                <img src="../assets/images/Joker ( JOAQUIN PHOENIX ).jpg" alt="">
                <img src="../assets/images/10 Movies To Look Forward To During the First Half of 2019.jpg" alt="">
                <img src="../assets/images/Review_ Korean police comedy Extreme Job works on almost every level - NOW Magazine.jpg" alt="">
            </div>
            <div class="gallery-col">
                <img src="../assets/images/download (4).jpg" alt="">
                <img src="../assets/images/18 Películas con finales más inesperados que el regreso del tóxico.png" alt="">
                <img src="../assets/images/Universal, CJ Entertainment in 'Extreme Job' remake for possible Kevin Hart lead role.png" alt="">
                <img src="../assets/images/kimi-no-nawa.jpg" alt="">
                <img src="../assets/images/10 Movies To Look Forward To During the First Half of 2019.jpg" alt="">
            </div>
        </div>
    </div>
    <footer>
        <ul>
            <li><a href="#" class="icon-social"><i class="fa fa-facebook-official" aria-hidden="true"></i></a></li>
            <li><a href="#" class="icon-social"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
            <li><a href="#" class="icon-social"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
        </ul>
        <p>Copyright &#169;2022 All rights reserved | This website is made by <span style="color: #77bb9d;">Rizha Alfianita</span></p>
    </footer>
</body>
</html>