@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;500;600&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    color: #5e5e5e;
}
footer{
    width: 100%;
    background-color: #fdfdfd;
    padding: 80px 0 50px;
    text-align: center;
}
footer > ul{
    list-style: none;
    margin-bottom: 30px;
}
footer > ul > li{
    display: inline-block;
    margin-right: 20px;
}
footer > ul > li > a{
    text-decoration: none;
}
footer > ul > li > a > i{
    padding: 20px 22px 20px 22px;
    background-color: #f5f5f5;
    border-radius: 50%;
    font-size: 18px;
    transition: all 0.3s ease 0s;
}
footer > ul > li > a > i:hover{
    background-color: #6D9886;
    color: white;
}
footer > p{
    font-size: 14px;
}